@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: "Montserrat", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color-scheme: dark;
  background-color: #18181b;
}

/* WebKit browsers */
.clean-scroll::-webkit-scrollbar {
  width: 4px; /* Adjust the width of the scrollbar */
  height: 4px;
}

.clean-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.clean-scroll::-webkit-scrollbar-thumb {
  background-color: #71717a;
  box-sizing: border-box;
  border-radius: 3px;
}

.clean-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1aa;
}

/* Hide the scrollbar buttons */
.clean-scroll::-webkit-scrollbar-button {
  height: 5px;
  width: 10px;
  display: block;
}

.corner::-webkit-scrollbar-corner { background: rgba(0,0,0,0); }